@media only screen and (max-width: 930px) {
	.menu{
		display: none;
	}
	
	.logo{
		margin: 0;
		text-align: center;
	}
	
	.headline{
		flex: 100%;
		margin-left: 5%;
		text-align: center;
	}
	
	.img-headline{
		flex: 100%;
		margin-left: 5%;
		text-align: center;
		max-width: 50%;
	}
	
	#whats{
		display: none;
	}
	
	section div{
		width: 100%;
	}
}